
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
